img{
    height: auto;
    object-fit: contain;
}
.intro-message{
    margin-top : 3em;    
    margin-bottom: 6em;
}
.intro-message-text {
    line-height: 1.71;
    margin-left: 11em;
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #151515;
}

.main-text{
    max-width: 15em;
    margin-left : 9em;
    margin-top : 9em;
}

.main-container{
    width: 100%;
    height: 4105px;
    display : flex;
    flex-direction: column;
   
}
.main-header{
    flex : 1;
}
.main-body{
    flex: 10;
    display : flex;
    flex-direction: column;
}
.main-footer{
    flex :1;
}