.pageNumber{
    height: 1rem;
    margin: auto 1.5rem auto 0rem;
    font-family: AppleSDGothicNeo;
    font-size: 1rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #e0e0e0;
}
.pageNow{
    height: 1rem;
    border-bottom: 0.125rem solid #2b2b2b;
    margin: auto 1.5rem auto 0rem;
    font-family: AppleSDGothicNeo;
    font-size: 1rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
}
.container{
        display : flex;
        flex-direction: row;
        margin : auto;
    
}