
img{
    height: auto;
    object-fit: contain;
}
.logo {
    max-width : 6em;
}
.introMessage{
    margin-top : 2.9375em;    
    margin-bottom: 6.25em;
    font-family: AppleSDGothicNeo;
    font-size: 0.875em;
    font-family: AppleSDGothicNeo;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    text-align: left;
    color: #151515;
}
.introMessageText {
    line-height: 1.71;
    
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #151515;
}

.mainTextImage{
    max-width: 15em;
    margin-top :  6.6875em;
}
.mainSubtitleText {
    margin-top : 3.75rem;
    margin-bottom : auto;
    flex : 1;
    font-family: acumin-pro-wide, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
  }

.mainBody{
    
    display : flex;
    flex-direction: column;
    
}