img{
    height: auto;
    object-fit: contain;
}
.logo {
    z-index: 0;
    max-width : 6em;
}
.introMessage{
    margin-top : 3em;    
    margin-bottom: 6em;
}
.introMessageText {
    line-height: 1.71;
    
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #151515;
}

.mainTextImage{
    max-width: 15em;
    margin-top : 9em;
}
.mainSubtitleText {
    margin-top : 3em;
    margin-bottom : 0em;
    flex : 1;
    /*font-family: AcuminProWide;*/
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
  }


.mainHeader{
    height: 4.5em;
    width : 100%;
    z-index: -1;
    
}
.mainBody{
    flex: 10;
    display : flex;
    flex-direction: column;
    
}
.mainFooter{
    flex :1;
}