.container{
    display : flex;
    flex-direction: row;
    width : 100%;
    overflow-x : auto;
}
.container::-webkit-scrollbar{
    /*width :0;*/
}
.number {
    margin : auto 0rem auto 1rem;
}
.profile{
    width : 3rem;
    height : 3rem;
    margin : auto 1.375rem auto 1.375rem;
    border: solid 0.063rem #5f8276;
    border-radius : 1.5rem;
}
.containerGray{
    display: flex;
    flex-direction: row;
    min-width : 15.125em;
    height : 4.5em;
    margin-right : 0.25em;
    border-width : 1px;
    background-color: #f7f7f7;
    text-align: center;
    font-family: AppleSDGothicNeo;
    font-weight: 800;
    
}
.itemBox {
    display: flex;
    flex-direction: column;
    margin : auto auto auto 0rem;
}
.text{
    font-family: AppleSDGothicNeo;
    font-size: 1rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
}
.pointText{
    font-family: AppleSDGothicNeo;
    font-size: 0.75rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #5f8276;
}