.container{
    display : flex;
    flex-direction: column;
    height : 22.875em;
    border-bottom: 0.1em solid;
    width : 100%;
    border-color: #d5d5d5;
}

.titleText{
    font-family: AcuminProWide;
    height : 0.875em;
    
    padding-bottom: 2.125em;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
}