.containerNotice{
    display : flex;
    flex-direction : row;
}
.continaerJob{
    display: flex;
    flex-direction: column; 
}
.itemContainer{
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.postbox{
    min-height:6.375em; 
    max-width : 27.5em;
    padding-top: 1rem;
    margin: auto 1.5rem auto 0em;
    border-bottom: 0.1em solid #ededed;
    overflow-wrap: break-word;
    text-align : left;
}
.postboxJob{
    min-height:6.375em; 
    max-width : 27.5em;
    padding-top: 1rem;
    margin: auto 0 auto 0em;
    border-bottom: 0.1em solid #ededed;
    overflow-wrap: break-word;
    text-align : left;
}

.postTitle{
    font-family: AppleSDGothicNeo;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #151515;
}
.date{
    
        font-family: AppleSDGothicNeo;
        font-size:  0.75em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #888888;
      
}