.profileCard-container{
    background-color : #f7f7f7;
    height: 20em;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 100%;
     margin-left: -100%;
     padding-right: 100%;
     margin-right: -100%;
}
  .profile-button-container{
      flex : 1;
      text-align: center;
  }
  .git-button{
    width: 400px;
    outline:none;
    padding: 22px 139px 17px 140px;
    border-radius: 1em;
    border : none;
    background-color: #00462a;
    
  }
  .button-text{
    font-family: AppleSDGothicNeo;
    font-size: 18px;
    font-weight : 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f7f7f7;
  }
  .profile-text{
    font-family: AppleSDGothicNeo;
    text-align : center;
    font-weight: 500;
    flex :1;
  }