.number{
  height : 5em
}

.rankingGithubContainer{
    height : 35em;
    display: flex;
    flex-direction: column;
}
.subtitleText {
  margin-top : 4em;
  margin-bottom : auto;
  flex : 1;
  font-family: acumin-pro-wide, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2b;
}
.rankingGithubText{
  font-family: AppleSDGothicNeo;
  margin : 1rem auto 2.25rem 0rem;
  font-size: 1rem;
  font-weight: 800;
  color: #888888;
 
}
.weekText{
  font-family: AppleSDGothicNeo;
  margin : 3.938rem auto 2em 0em;
  font-size: 1rem;
  font-weight: 800;
  color: #888888;
  
}

.blocksContainer{
    height : 11.188rem;
}