.container{
    display :flex;
    flex-direction : column;

}
.postContainer{
    display: flex;
    flex-direction: row;
   
}

.postContainerBottom{
    display: flex;
    flex-direction: row;
    margin-top : 2.25rem;
}
.post{
    height: 100%;
    width : 100%;
    display: flex;
    flex-direction: row;
}
.preview{
    width: 13em;
    height: 8.0625em;
    /*margin: 12px 20px 36px 276px;*/
    border-radius: 0.625em;
    background-color: #f0f0f0;
}
.itemBox{
    width : 100%;
    display:flex;
    flex-direction: column;
}


.infoBox{
    display:flex;
    flex-direction: column;
}
.subtitle{
    font-family: AppleSDGothicNeo;
    font-size: 0.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #5f8276;
    margin : 0rem auto 0.75rem 0rem;
}

.postName{
    font-family: AppleSDGothicNeo;
    margin: 0rem auto 0rem 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #151515;
}
.postDetail{
    font-family: AppleSDGothicNeo;
    font-size: 0.75rem;
    margin : 0.5rem auto auto 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
}
.rowBox {
    margin : 1.563rem auto 0.438rem 1.25rem;
    display : flex;
    flex-direction: row;
    font-family: AppleSDGothicNeo;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
}

