.container {
    display : flex;
    flex-direction: column;
    width: 100%;
}

.rowBox {
    display : flex;
    flex-direction: row;
    margin-top : 4.5rem;
    min-height : 25.688rem;
}
.rowBox2 {
  display : flex;
  flex-direction: row;
  margin-top : 4.5rem;
}

.text{
  font-family: AppleSDGothicNeo;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2b;
}
.line{
  border-top : 0.063rem solid #ededed;
  width : 100%;
}
.subtitle{
  margin : 0rem auto 2rem 0rem;
  font-family: AppleSDGothicNeo;
  font-size: 1rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #151515;
}
.item1{
  margin-right: 3.5rem;
  width: 50%;
}
.item2 {
  width : 50%;
}
.infoBox{
  display: flex;
  flex-direction: row;

}
.infoTitle{
  margin : 1.75rem auto 1.75rem 0rem;
  font-family: AppleSDGothicNeo;
  font-size: 0.875rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}
.info{
  margin: auto 0rem auto auto;
  font-family: AppleSDGothicNeo;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: right;
  color: #00462a;
}
.tag{
  margin: 0rem  0.625rem 0rem 0rem;
  padding: 0.313rem 0.625rem;
  border-radius: 5px;
  border: solid 1px #00462a;
  background-color: #5f8276;

  font-family: AppleSDGothicNeo;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}