.header-container {
    margin: auto 0em;
    display : flex;
    height :  4.5em;
    width : 100%;
    
}
.logo {
    max-width : 6em;
}
.logo-box {
    flex :1;
    max-width : 6em;
    margin: auto auto auto 0em;
}
.header-nav{
    margin: 1.875em 0em 0em auto;
    height : fit-content;
    display : flex;
    /*background-color : yellow;*/
    font-family: AppleSDGothicNeo;
    font-weight: 700;

    font-size: 1em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: right;
    color: #2b2b2b;

}

.header-nav > * {
    flex :1;
    width :fit-content;
    height: fit-content; 
    margin :0em 0em 0em 3em;
    white-space: nowrap;  
}
