.header-container {
    margin: auto;
    display : flex;
    justify-items: center;
    align-items: center;
    width : 80%;
}
.logo {
    max-width : 6em;
}
.logo-box {
    flex :1;
    max-width : 6em;
    margin: auto auto auto 0em;
}
.header-nav{
    margin: auto 0em auto auto;
    display : flex;
    text-align: center;
    align-items: center;
    /*background-color : yellow;*/
    font-family: AppleSDGothicNeo;
    font-weight: 700;
}

.header-nav > * {
    flex :1;
    min-width : 6.5em; 
    margin-left : 1em;  
}
