.header-nav{
    position: absolute;
    top : 1em;
    right : 0%;
    
    display : flex;
    max-width: 60%;
    text-align: center;
    align-items: center;
    /*background-color : yellow;*/
    font-family: AppleSDGothicNeo;
    font-weight: 700;
    z-index : 5;
    
}

.header-nav > * {
    flex :1;
    min-width : 6.5em; 
    margin-left : 1em;  
}
