/* FONT IMPORT*/
@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 700;
  src: 
    url("./assets/fonts/AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 800;
  src: 
    url("./assets/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 300;
  src: 
    url("./assets/fonts/AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
  font-family: AppleSDGothicNeo;
  font-weight: 500;
  src: 
    url("./assets/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

.main-container{
  width: 80%;
  height: 100%;
  display : flex;
  flex-direction: column;
  margin: 0em auto;
  align-items: left;
  
}


.App {
  text-align: center;
}
